
/* 
font-family: 'Press Start 2P', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Concert One', cursive;
font-family: 'Electrolize', sans-serif; */

.parent_dashboard{
  height: 85vh;
  padding-top: 15vh;
  overflow-y: auto;
}

.add-household-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-household-form input {
  width: 270px;
}

.household_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.house_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  text-align: center;
  margin:10px;
  font-family: 'Fredoka One', cursive;
  font-size: 23px;
  padding: 10px;
  background-color: rgb(158, 226, 0);
  /* text-shadow: -1px -1px rgb(105, 90, 0), 1px 1px white; */
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 9px;
  border: rgb(75, 107, 0) solid 1px;
  box-shadow: 0 .3em rgb(75, 107, 0); 
  cursor: pointer;
}

.house_card p{ 
  padding: 0;
  margin: 0;
  font-weight: 600;
  color: rgb(75, 107, 0);

}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.add-member{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-member p {
  font-family: 'Press Start 2P', cursive;
  color: rgb(255, 217, 0);
  line-height: 25px;
  margin: 0;
}

/*  ------------- select dropdown ------------- */ 
.select-css {
  font-size: 16px;
  font-family: 'Electrolize', sans-serif; 
  /* font-weight: 600; */
  color: #444;
  line-height: 1.3;
  padding: .6em 2em .5em .8em;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* will use a different arrow icon because cookies n stuff*/
  background-image: url('https://image.flaticon.com/icons/svg/60/60995.svg');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  margin: 20px 0;
}

.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
  cursor: pointer;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.select-css option {
  font-weight:normal;
}
/* ------------- select dropdown ------------- */

@media screen and (min-width:800px) {

  .add-household {
    display: inline-block;
    width: 50%;
  }
  .household-details{
    display: inline-block;
    width: 50%;
  }

  /* .add-household-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
  }

  .add-household-form label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .add-household-form input {
    margin-top: 10px;
  }  */
/* 
  .add-household-form button {
    width: 25%;
    margin: 10px auto;
    word-wrap: break-word;
  } */

  /* .house_card {
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    margin: 10px auto;
  } */
}

@media screen and (min-width:1100px) { 
  .parent_dashboard {
    width: 100%;
    /* margin: 20px auto; */
  }
}