/* this is in the wrong spot */

.leaderboard_container {
  min-width: 40%;
  max-width: 40%;
  margin: 0 auto 0 auto;
}

.leader_board {
  text-align: center;
  padding: 10px;
  border: 2px solid black;
}

.headerRow {
  width: auto;
  display: flex;
  padding: 5px 0;
  border-bottom: 1px solid black;
}

.header_rank {
  width: 20%;
  text-align: left;
  padding: 0 5px;
}

.header_name {
  width: 50%;
  text-align: center;
  padding: 0 5px;
}

.header_score {
  width: 20%;
  text-align: right;
  padding-right: 20px;
}

.score_display {
  width: auto;
  padding-left: 25px;
  margin: 10px auto;
  /* disly: flex; */
  /* margin-left: auto; */
}

.rankings {
  margin: 0 auto;
}

.rankings li:nth-child(-n+3):before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -65px;
  background-image: url('../../images/FirstCup.png');
}


.rankings li:nth-child(1):before {
  background-image: url('../../images/FirstCup.png');
}

.rankings li:nth-child(2):before {
  background-image: url('../../images/SecondCup.png');
}

.rankings li:nth-child(3):before {
  background-image: url('../../images/ThirdCup.png');
}

.rankings li:nth-child(-n+3) .score {
  display: block;
}


.name_col {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  float: left;
  word-wrap: break-word;
}

.score_col {
  width: 20%;
  float: right;
}
