/* this is in the wrong spot */
  .leaderboard_container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 90%;
    min-width: 40%;
    margin: 20px auto;
  }

  .leader_board {
    color: white;
    text-align: center;
    padding: 10px;
  }

  .headerRow {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid white;
  }

  .header_rank {
    width: 15%;
    text-align: left;
  }

  .header_name {
    width: 60%;
    text-align: left;
  }

  .header_score {
    width: 10%;
    text-align: right;
  }

  .score_display {
    width: auto;
    margin: 5px auto;
    align-content: center;

  }

  .display {
    width: 90%;
    margin: 0 auto;
  }


  
  .rankings li:nth-child(-n + 3):before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -65px;
    background-image: url('../../ImgAssets/ChoreRunner.png');
  }

  .rankings li:nth-child(1):before {
    background-image: url('../../ImgAssets/FirstCup.png');
  }

  .rankings li:nth-child(2):before {
    background-image: url('../../ImgAssets/SecondCup.png');
  }

  .rankings li:nth-child(3):before {
    background-image: url('../../ImgAssets/ThirdCup.png');
  }

  .rankings li:nth-child(-n + 3) .score {
    display: block;
  }

  .rankings {
    width: 90%;
    margin: 10px auto;
    word-wrap: break-word;
  }  

   .name_col {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    float: left;
    word-wrap: break-word;
  }

  .score_col {
    width: 50%;
    float: right;
  }
 



@media screen and (min-width: 800px) {
  .leaderboard_container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 60%;
    min-width: 40%;
    margin: 20px auto;
  }

  .leader_board {
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
  }

  .headerRow {
    width: auto;
    display: flex;
    padding: 5px 0;
    border-bottom: 1px solid white;
  }

  .header_rank {
    width: 20%;
    text-align: left;
    padding: 0 5px;
  }

  .header_name {
    width: 50%;
    text-align: center;
    padding: 0 5px;
  }

  .header_score {
    width: 20%;
    text-align: right;
    padding-right: 20px;
  }

  .score_display {
    width: auto;
    padding-left: 25px;
    margin: 10px auto;
  }

  .rankings {
    width: 80%;
    margin: 0 auto;
  }

  .rankings li:nth-child(-n + 3):before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -65px;
    background-image: url('../../ImgAssets/ChoreRunner.png');
  }

  .rankings li:nth-child(1):before {
    background-image: url('../../ImgAssets/FirstCup.png');
  }

  .rankings li:nth-child(2):before {
    background-image: url('../../ImgAssets/SecondCup.png');
  }

  .rankings li:nth-child(3):before {
    background-image: url('../../ImgAssets/ThirdCup.png');
  }

  .rankings li:nth-child(-n + 3) .score {
    display: block;
  }

  .name_col {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    float: left;
    word-wrap: break-word;
  }

  .score_col {
    width: 20%;
    float: right;
  }
}
