/* 
font-family: 'Press Start 2P', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Concert One', cursive;
font-family: 'Electrolize', sans-serif; */
.household-page-container {
	flex-direction: column;
	height: 88vh;
	padding-top: 12vh;
	overflow-y: auto;
}

.tasks-to-approve h3, .assigned-tasks h3{
	font-family: 'Fredoka One', cursive;
	letter-spacing: 2px;
	color: white;
}

.household-page-container p{
	font-family: 'Fredoka One', cursive;
	font-size: 25px;
	letter-spacing: 2px;
	color: rgb(255, 217, 0);
	margin: auto;
	padding: 5px
}

.member-name {
	letter-spacing: 2px;
	font-family: 'Fredoka One', cursive;
	font-size: 25px;
	display: inline;
	color: #725F00;
	padding-right: 50px;
}

.household-page-container button {
	font-size: 12px;
	width: 100px;
	margin: 10px;
	font-family: 'Electrolize', sans-serif;
}
 
.member-card {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 10px auto;
	background-color: #59CC4F;
	border-radius: 9px;
  border: rgb(75, 107, 0) solid 1px;
  box-shadow: 0 .3em rgb(75, 107, 0);
}

.delete-edit-name {
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
}
.delete-edit-name button {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	box-shadow: none;
	margin: 0;
	justify-content: flex-end;
}

.pen-button {
	position: absolute;
	right: 50px;
}

.trash-button {
	position: absolute;
	right: 10px;
}

.householdpage-member-task-list {
	list-style-type: none;
	padding: 0;
}

.assigned-task {
	display: flex;
	padding: 0 10px;
}

.completed-task-container {
	display: flex;
	justify-content: flex-start;
}

.thumb-container {
	display: flex;
	justify-content: center;
}

.hhp-title {
	display: inline-block;
	width: 50%;
}

.hhp-points {
	display: inline-block;
	width: 30%;
	/* text-align: left; */
}

.completed-task-container .hhp-points span {
	text-align: left;
	padding-left: 10px;
}

.completed-task-container .hhp-title span {
	text-align: right;
	padding: 0 10px;
}


.hhp-title span, .hhp-points span {
	display: block;
}

.delete-edit-name .edit-member-container {
	padding-bottom: 7px;
	border-radius: 7px; 
	width: 80%;
	background-color: rgba(105,105,105, 0.8);
	position: absolute;
	top: 220px;
	left: 50%;
	transform: translate(-50%, -50%);
}

#edit-member-form input {
	display: block;
	width: 75%;
	margin: 5px auto;
}

button.submit-edit-member, button.cancel {
	display: block;
	width: 80%;
	margin: 10px auto;
}

button.submit-edit-member {
	background-color:rgb(255, 217, 0);
}

button.cancel {
	background-color:rgb(92, 211, 81);
}

.update-title, .update-points {
	display: block;
	width: 75%;
	margin: auto;
	padding: 0 10px 5px;
}

#assignee {
	margin: 0;
}

.add-task-form label {
  margin: 10px 5px;
}

.add-task-form {
	margin-top: 0;
}

button.delete-task {
	width: 10%;
}

@media screen and (min-width:500px) {
	.member-card {
		width: 70%;
	}
	.household-page-container p {
    width: 80%;
	}
}

@media screen and (min-width:800px) {
	.member-card {
		width: 60%;
	}

	.household-page-container p {
    width: 80%;
	}

	.edit-member-container {
		left: 80px;
		width: 60%;
		margin-bottom: 20px;
		border-radius: 7px;
	}
}

@media screen and (min-width:1100px) {
	.member-card {
		width: 50%;
	} 

	.add-task-form {
		position: absolute;
		left: 2%;
	}
}

@media screen and (min-width:1400px) {
	.member-card {
		width: 600px;
	} 

	.add-task-form {
		position: absolute;
		left: 10%;
	}
}