/* 
font-family: 'Press Start 2P', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Concert One', cursive;
font-family: 'Electrolize', sans-serif; */
.household-page-container {
    height: 88vh;
    padding-top: 12vh;
    overflow-y: auto;
}

.household-page-container li {
    list-style: none;
    font-family: 'Electrolize', sans-serif; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.household-page-container p{
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    color: rgb(255, 217, 0);
    margin: auto;
}

.member-name {
    letter-spacing: 2px;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    display: inline;
    color: rgb(255, 217, 0);
}

.household-page-container button {
    font-size: 12px;
    width: 100px;
}

.title, .points {
    /* padding: 0 20px; */
    width: 200px;
}
 
.member-card {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 50%;
	margin: auto;
}

.delete-edit-name {
	display: flex;
	justify-content: center;
	align-items: center;
}
.delete-edit-name button {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	box-shadow: none;
	margin: 0;
}

.householdpage-member-task-list {
    border: 2px solid red;
}
.tasks-to-approve {
    border: 2px solid green;
}
