/* 
font-family: 'Press Start 2P', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Concert One', cursive;
font-family: 'Electrolize', sans-serif; */
.household-page-container {
    height: 88vh;
    padding-top: 12vh;
    overflow-y: auto;
}

.tasks-to-approve h3, .assigned-tasks h3{
	font-family: 'Fredoka One', cursive;
	letter-spacing: 2px;
	color: white;
}

.household-page-container p{
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    color: rgb(255, 217, 0);
    margin: auto;
	padding: 5px
}

.member-name {
    letter-spacing: 2px;
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    display: inline;
    color: #725F00;
	width: 60%;
	padding-right: 50px;
}

.household-page-container button {
    font-size: 12px;
    width: 100px;
	margin: 10px;
	font-family: 'Electrolize', sans-serif;
}
 
.member-card {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 10px auto;
	background-color: #59CC4F;
	border-radius: 9px;
  border: rgb(75, 107, 0) solid 1px;
  box-shadow: 0 .3em rgb(75, 107, 0);
}

.delete-edit-name {
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
}
.delete-edit-name button, .title button, .points button {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	box-shadow: none;
	margin: 0;
	justify-content: flex-end;
}

.pen-button {
	position: absolute;
	right: 50px;
}

.trash-button {
	position: absolute;
	right: 10px;
}


.householdpage-member-task-list {
	list-style-type: none;
	padding: 0;
}

.title , .points {
	width: 45%;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	/* display: flex;
	flex-wrap: wrap; */
	

}

.title .save-title-edit, .points .save-points-edit {
	width: 100px;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(255, 217, 0);
  text-shadow: -1px -1px rgb(105, 90, 0), 1px 1px white;
  color: #725F00;
	border-radius: 7px;
	box-shadow: 0 .3em rgb(134, 112, 0); 
	margin-bottom: 15px;
	height: 30px;
}



